
* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #869CA3;
  color: #333;
}

.about {
  background-color: #f9f9f9;
  padding: 80px 0; /*80px top & bottom, 0 left & right */
}

.about-image img {

  width: 450px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.about-content {
  margin-top: 20px;
  width: 300px;
}

.about-content h2 {
  font-size: 28px;
  color: #1a73e8;
  margin-bottom: 15px;
}

.about-content p {
  font-size: 16px;
  color: #555;
  line-height: 1.6;
  margin-bottom: 20px;
}

.features {
  list-style: none;
  padding: 0;
  margin-bottom: 25px;
}

.features li {
  margin-bottom: 10px;
  color: #444;
  font-size: 15px;
  line-height: 1.5;
}



/* Contact Section */
.contact {
  background-color: #f5f9ff;
  padding: 80px 0;
}

.contact-inner {
  width: 600px;
  margin-left: 400PX;
  text-align: center;
}

.contact h2 {
  font-size: 28px;
  color: #1a73e8;
  margin-bottom: 10px;
}

.contact p {
  color: #555;
  margin-bottom: 30px;
  font-size: 15px;
  line-height: 1.6;
}

.contact-form {
  background-color: #fff;
  padding: 35px 40px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.08);
  text-align: left;
}

.form-group {
  margin-bottom: 18px;
}

label {
  font-weight: 500;
  margin-bottom: 6px;
  color: #333;
}

label span {
  color: red;
}

input, textarea {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}



.contact-form .btn {
  display: inline-block;
  background-color: #869CA3;
  color: #fff;
  padding: 10px 22px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;

  margin-left: 130px;
   text-align: center;
}

.contact-form .btn:hover {
  background-color: #7498a3;
}
.about-image{
  margin-left: 300px;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  position: sticky;
 }

.navbar .logo {
  font-weight: 700;
  font-size: 20px;
  color: #0077b6;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar ul li a {
  text-decoration: none;
  color: #333;
  margin-left: 25px;
}

.navbar ul li a:hover {
  color: #0077b6;
}

/* Split Landing Section */
.landing {
  display: flex; /*makes .landing a flex container.*/
  height: 100vh;
}
   
 
  button{
   
  display: inline-block;
  background-color: #869CA3;
  color: #fff;
  padding: 10px 22px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;

   text-align: center;
}

button:hover {
  background-color: #7498a3;
}
/* Left Text Section */
.landing .left {
  flex: 1;
  width: 50%;
  display: flex;
  flex-direction: column; /*flex-direction: column; → children stack vertically.*/
  justify-content: center;
  padding: 0 70px; /*adds 70px space on left and right (inner spacing).*/
  background: #fefefe;
}


.landing .left h1 {
  font-size: 30px;
  color: #023e8a;
  margin-bottom: 20px;
}

.landing .left p {
  font-size: 20px;
  color: #555;
  margin-bottom: 30px;
  line-height: 1.6;
}

.btn {
  background: #869CA3;
  color: #fff;
  padding: 12px 25px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 300;
  transition: 0.3s;
  width: 300px;
}

.btn:hover {
  background: #7498a3;
}

/* Right Image Section */
.landing .right {
  flex: 1.5;
  background:url(images/pic1.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}





.form1-container {
  width: 520px;
  margin: 80px auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 5px gray; /*box-shadow: horizontal-offset vertical-offset blur-radius color;*/
/*his shadow is directly behind the element, slightly blurred (5px), and gray in color. No shifting horizontally or vertically*/
}

.form1-container h2 {
  text-align: center;
  color: #333;
}

.form1-container label {
  display: block;
  margin-top: 10px;
  color: #555;
}

.form1-container input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form1-container button {
  width: 100%;
  margin-top: 15px;
  padding: 10px;
  background: #869CA3;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.form1-container button:hover {
  background: #7498a3;
}

.form1-container p {
  text-align: center;
  margin-top: 10px;
}

.success {
  text-align: center;
  background: #d4edda;
  color: #155724;
  padding: 8px;
  border-radius: 5px;
  margin: 10px auto;
  width: 320px;
}

.error {
  text-align: center;
  background: #f8d7da;
  color: #721c24;
  padding: 8px;
  border-radius: 5px;
  margin: 10px auto;
  width: 320px;
}

footer {
  text-align: center;
  padding: 15px;
 background-color:#869CA3;
  color: black;
  font-size: 15px;
  
}

.container.about-inner {
  padding: 50px 20px;
  background-color: #fff;
  margin: 40px auto;
  width: 1000px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}



.about-content h2 {
  font-size: 28px;
  margin-bottom: 15px;
  color: #222;
}

.about-content p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 15px;
}


