
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: #869CA3;
  color: #333;
} 
  .container1 { 
    width: 50%; 
    margin: 40px auto;
    background: #fff; 
    padding: 20px; 
    border-radius: 8px; 
  }
  h2 { 
    text-align: center;
     color: #869CA3; }
  label { 
    font-weight: bold;
     display: block;
      margin-bottom: 5px; 
    }
  input, select, textarea {
      width: 100%;
      padding: 8px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 5px;
  }

footer {
  text-align: center;
  padding: 15px;
  background-color:#869CA3;
        color: black;
  font-size: 15px;
 
}
label span {
  color: red;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  background: #fff;
  
 }

.navbar .logo {
  font-weight: 700;
  font-size: 20px;
  color: #0077b6;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar ul li a {
  text-decoration: none;
  color: #333;
  margin-left: 25px;
}

.navbar ul li a:hover {
  color: #0077b6;
}

  button{
   
  display: inline-block;
  background-color: #869CA3;
  color: #fff;
  padding: 10px 22px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;

   text-align: center;
}


  
  input[type=submit] {
      background-color: #007bff;
      color: white;
      border: none;
      padding: 10px 15px;
      cursor: pointer;
      border-radius: 5px;
  }
  input[type=submit]:hover {
      background-color: #0056b3;
  }
  select[name="status"] {
    background-color: #f8f9fa;
    color: #495057;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    width: 100%;
}

select[name="status"] option[value="Pending"] { color: #ffc107; }
select[name="status"] option[value="Confirmed"] { color: #28a745; }
select[name="status"] option[value="Cancelled"] { color: #dc3545; }
select[name="status"] option[value="Completed"] { color: #17a2b8; }